@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-color: #ECECEC;
}

.navbar {
  background-color: #6C7A89;
  color: #FFFFFF;
}

.jumbotron {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel .panel-heading {
  background-color: #FFFFFF;
}

.sidebar li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar li a {
  color: #000000;
  background-color: #FFFFFF;
}
.sidebar li.active a{
  color: #FFFFFF;
  background-color: #6C7A89;
}
